<ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">attach_money</i>
          <a href="/apartments/sale/">Продажа</a>
      </div>
      <div class="collapsible-body">
          <ul>
              <li><a href="#"><h6>1 комнатные</h6></a></li>
              <li><a href="#"><h6>2 комнатные</h6></a></li>
              <li><a href="#"><h6>3 комнатные</h6></a></li>
              <li><a href="#"><h6>4+ комнат</h6></a></li>
          </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">business</i>
          <a href="/apartments/rental/">Аренда</a>
      </div>
      <div class="collapsible-body">
          <ul>
              <li><a href="#"><h6>1 комнатные</h6></a></li>
              <li><a href="#"><h6>2 комнатные</h6></a></li>
              <li><a href="#"><h6>3 комнатные</h6></a></li>
              <li><a href="#"><h6>4+ комнат</h6></a></li>
          </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">cached</i>
          <a href="#">Обмен</a>
      </div>
      <div class="collapsible-body">
          <ul>
              <li><a href="#"><h6>1 комнатные</h6></a></li>
              <li><a href="#"><h6>2 комнатные</h6></a></li>
              <li><a href="#"><h6>3 комнатные</h6></a></li>
              <li><a href="#"><h6>4+ комнат</h6></a></li>
          </ul>
      </div>
    </li>
</ul>