{% extends 'index.html' %}

{% block title %}
  {{title}} - {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
    <h1>Home html</h1>
    <h2>Rental project</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque consectetur cupiditate deleniti dicta dolor eius esse, eum explicabo harum illo ipsa iure, iusto labore laboriosam praesentium quas rem unde!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque consectetur cupiditate deleniti dicta dolor eius esse, eum explicabo harum illo ipsa iure, iusto labore laboriosam praesentium quas rem unde!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque consectetur cupiditate deleniti dicta dolor eius esse, eum explicabo harum illo ipsa iure, iusto labore laboriosam praesentium quas rem unde!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque consectetur cupiditate deleniti dicta dolor eius esse, eum explicabo harum illo ipsa iure, iusto labore laboriosam praesentium quas rem unde!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque consectetur cupiditate deleniti dicta dolor eius esse, eum explicabo harum illo ipsa iure, iusto labore laboriosam praesentium quas rem unde!</p>
</div>
{% endblock %}