{% extends 'index.html' %}

{% block title %}
  {{title}} - {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">



    <div class="row">
        <div class="col s12 m8 l10">
            <h1>Test</h1>
        </div>
        <div class="col s12 m4 l2" style="margin-top: 30px;">
            <div class="col s12">
                <img src="media/logos/Apartment.png" style="width: 200px;">
            </div>
            <div class="col s12">
                <img src="media/logos/house.png" style="width: 200px;">
            </div>
            <div class="col s12">
                <img src="media/logos/commercial2.png" style="width: 200px;">
            </div>
            <div class="col s12">
                <img src="media/logos/garage.png" style="width: 200px;">
            </div>
            <div class="col s12">
                <img src="media/logos/landscape.png" style="width: 200px;">
            </div>
        </div>





    </div>



    <!--
    <div class="row">
        <div class="col s12 m6 l2"><img src="media/logos/Apartment.png" style="width: 200px;"></div>
        <div class="col s12 m6 l2"><img src="media/logos/house.png" style="width: 200px; height: 110px;"></div>
        <div class="col s12 m6 l2"><img src="media/logos/commercial2.png" style="width: 200px; height: 100px;"></div>
        <div class="col s12 m6 l2"><img src="media/logos/garage.png" style="width: 200px;"></div>
        <div class="col s12 m6 l2"><img src="media/logos/landscape.png" style="width: 200px;"></div>
    </div>
    -->
</div>
{% endblock %}