<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    {% load static %}
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
        <!-- Compiled and minified CSS -->
    <!-- <link href="{% static 'main/css/materialize.css' %}" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="{% static 'main/css/custom_styles.css' %}" rel="stylesheet">
        <!-- Compiled and minified JavaScript -->
    <script src="{% static 'tinymce/js/prism.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
{% include "main/includes/navbar.html"%}

<main>
    {% include "main/includes/messages.html"%}

    <div class="container">
        <br>
        {% block content %}
        {% endblock %}
    </div>

</main>

{% include "main/includes/footer.html"%}
</body>
</html>